@import "normalize.css";

body {
    background-color: #cdcdcd;
    font-size: 16px;
}

input {
    outline: none;
    border: 0;
}

ul {
    list-style: none;
}

li {
    list-style-type: none;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    /* IE6、7专有 */
    *zoom: 1;
}